---
import Layout from "@layouts/Layout.astro";
import "@fontsource/outfit";
---

<Layout title="QR Code Component">
  <main>
    <h1>Hello World!</h1>
    <p>🚧 WIP</p>
  </main>
</Layout>

<style>
  :root {
    --background-color: rgb(212, 224, 238);
    --foreground-color: rgb(255, 255, 255);
    --heading-color: rgb(23, 33, 48);
    --text-color: rgb(151, 155, 159);
  }

  main {
    font-family: Outfit, sans-serif;

    width: 100vw;
    height: 100vh;
  }
</style>
