---
import Layout from "@layouts/Layout.astro";
import "@fontsource/outfit";
import QRCode from "@assets/qr-code-component-image-qr-code.png";
---

<Layout title="QR Code Component">
  <main>
    <div class="card">
      <img src={QRCode} alt="" />
      <h1>Improve your front-end skills by building projects</h1>
      <p>
        Scan the QR code to visit Frontend Mentor and take your coding skills to
        the next level
      </p>
    </div>
  </main>
</Layout>

<style>
  :root {
    --background-color: rgb(212, 224, 238);
    --foreground-color: rgb(255, 255, 255);
    --heading-color: rgb(23, 33, 48);
    --text-color: rgb(151, 155, 159);
  }

  main {
    font-family: Outfit, sans-serif;

    width: 100vw;
    height: 100vh;
  }
</style>
