---
import Layout from "@layouts/Layout.astro";
import "@fontsource/outfit";
---

<Layout title="QR Code Component">
  <main>
    <h1>Hello World!</h1>
    <p>🚧 WIP</p>
  </main>
</Layout>

<style>
  main {
    font-family: Outfit, sans-serif;
  }
</style>
