---
import Button from "@components/Button";
import Card from "@components/Card.astro";
import Layout from "@layouts/Layout.astro";
import QRCode from "@components/QRCode";

import QRCodeURL from "@assets/frontend-mentor.webp";
---

<Layout title="QR Code Component">
  <Card>
    <QRCode client:load codeURL={QRCodeURL} />
    <h1>Improve your front-end skills by building projects</h1>
    <p class="card__text">
      Scan the QR code to visit Frontend Mentor and take your coding skills to
      the next level
    </p>
    <Button as="a" href="/create">Create your QR Code</Button>
  </Card>
</Layout>

<style>
  h1 {
    margin-top: 8px;
  }

  .card__text {
    text-align: center;
    padding: 0 8px;
  }
</style>
