---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home">
  <body>
    <main>
      <h1>Hello World!</h1>
      <p>🚧 WIP</p>
    </main>
  </body>
</Layout>

<style>
  main {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
      segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto,
      arial, sans-serif;

    display: grid;
    place-items: center;
  }
</style>
