---
---

<main class="card">
  <slot />
</main>

<style>
  .card {
    border-radius: 24px;
    width: 280px;
    padding: 16px;
    display: grid;
    gap: 16px;

    background-color: var(--foreground-color);
    box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.06);
  }
</style>
